body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(img/bkg.jpg);
    background-repeat: repeat;
}

section{
    width: 60%;
    margin: 0 auto;
}

h1{
    background-color: black;
    text-align: center;
    color: white;
    padding: 1vw;
}

nav{
    width: 50%;
    text-align: center;
    margin: auto;
}

nav a {
    font-size: 1.3em;
    font-weight: 700;
    padding: 1em 2em;
    color: olivedrab;
}

h2{
    font-size: 1.5em;
    text-align: center;
    background-color: black;
    color:#ccc;
    padding: 1vw;
}

code{
    font-size: 1.5vw;
    font-style: italic;
    background-color: lightseagreen;
}

div{
    text-align: center;
    color: black;
    padding:1vw;
}

img{
    margin-top: 1vw;
    margin-bottom: 1vw;
    
}



