
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body{
    margin: 0;
    padding: 0;
}

/* --------------- Header ------------------------*/

header{
    position: relative;
    background-image: url(../img/fond.jpg);
}

nav{
    position: absolute;
    top: 40px;
    right: 24px;
}

nav a {
    margin: 30px;
    font-size: 30px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Caveat Brush', cursive;
}

h1{
     font-family: 'Caveat Brush', cursive;
     text-transform: uppercase;
     font-size: 50px;
}

h1 span {
    font-size: 40 px;
    vertical-align: top;
    position: relative;
}

h1 span:after{
    content: "-";
    position: absolute;
    top: 15px;
    left: 0;
}

i{
    position: relative;
    margin-top: 5vw;
    display: inline-block;
    font-style: normal;
}

i#fleche{
    top: -2vw;
    left: 47vw;
    width: 3.4em;
    height: 3.4em;
    border-right: 0.3em solid #e53f6f;
    border-top: 0.3em solid #e53f6f;
    transform: rotate(134deg);
}

/* --------------- section ------------------------*/

h2{
    text-transform: uppercase;
    font-size: 40px;
    font-family: sans-serif;
}

section.rectRose{
    position: inherit;
    margin: auto;
    left: 0;
    bottom: 15px;

}

section img {
    width: 100%;

}

main > section { /* enfant direct de main*/
    height: 820px;
    text-align: center;
    overflow: hidden;
}

section p, section h2 {
    padding: 0 15%;

}
/*--------------------- footer----------------------*/

footer{
    padding: 150px 0;
    background-image: url(../img/motif\ \(1\).jpg);
}

footer>div{
    display: inline-block;
    width: 49%;
}


footer p{
    font-family: sans-serif;
    text-transform: uppercase;
    padding-left: 78px;
    font-size: 0.9em;
}


/* -------------------- class-----------------------*/

.loogResto{
    position: relative;
    display: inline-block;
    margin-left: 80px;
}

.inlnineB{
    display: inline-block;
}

.rectRose{
    position: absolute;
    bottom: 12px;
    left: 26%;
    margin: 0;
    border: 7px solid #e53f6f;
    pad: 0 17 px;
    width: 0;
}

.pBloque-left,
.pBloque-right{
display: inline-block;
vertical-align: middle;
overflow: hidden;
}

.pBloque-left{
    width: 39%;
    overflow: visible;
    position: relative;
}

.pBloque-right{
    width: 60%;

}

/*----------------- ID----------------------*/

#logo{
    width: 300px;
    margin: 200px auto 180px;
    position: relative;
}

#logo div {
    width: 0;
    height: 0;
    border-top: 250px solid #e53f6f;
    border-left: 250px solid transparent;
}

/*#logo img {
    position: absolute;
    top: -27px;
    left: 0;
    width: 100%;
}*/

#story img{
    transform: scaleX(-1);
    width: 125%;
}

#story h2{
    font-size: 55px;

}

#story div {
    transform: scaleX(-1);
    height: 100%;
    background-image: url(asperge.jpg);
    background-size: cover;

}

#soap{
    height: 900px;

}

#soap .pBloque-left{
    width: 30%;
    

}
#soap .pBloque-right{
    width: 69%;


}

#local{
    height: 744px;
}
.txtRose{
    color: #e53f6f;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
}


.pBloque-left > img{
    width: 50%;
}

#local .pBloque-left img{
    position: relative;
    top: 70px;
    z-index: -1;
}

#eggs{
    width: 100%;
}

/*---------------footer---------------*/
#social ul {
float: right;
margin-right: 50px;
}
#social li {
    display: inline-block;
    text-align: right;
    margin: 0 5 px;
    color: #e53f6f;
}

#social i {
    font-size: 2em;
}