#conteneur{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    
}

header{
    background-color: rgb(204, 0, 0);
    line-height: 100px;
    height: 100px;
    margin-right: 215px;
}

.zgauche{
    background-color: rgb(0, 110, 255);
    height: 600px;
    width: 20%;
    line-height: 500px;
    border: 0px solid black;
    float: left;

} 
.zdroite{
    background-color: rgb(0, 110, 255);
    height: 600px;
    width: 20%;
    line-height: 500px;
    border: 0px solid black;
    margin-left: 851px ;
}

.z1, .z2, .z3, .z4, .z5 {
    background-color: rgb(80, 255, 74);
    height: 500px;
    width: 116px;
    line-height: 500px;
    float: left;
    border: 1px solid black;
}

footer {
    background-color: gold;
    border: 1px solid black;
    width: 44.5%;
    line-height: 98px;
    height: 11%;
    margin-left: 263.5px;
    margin-top: -100px;
}


.clear{
    clear: both;
}
