body{
    margin: 0; /* en haut à droite, en bas et à gauche*/
}

.boite{
    height: 10vh; /* Par rapport à la hauteur de l'écran*/
    width: 10vw;/* Par rapport à la largeur de l'écran*/
    padding: 5vh;
    background-image: url(../IMG/rao.jfif);
    background-size: cover; /* étire l'iamge pour qu'elle rentre dans la balise*/
    border: 5px double lightskyblue;
    margin: 2vh;
    float: left; /* effet flottant, ça sort les éléments du flux naturel de la page et les places les uns à coté des autres */
    transition: margin 0.5s; /* augmente le margine en 0.5s grâce à :hover */

}

.boite:hover{ /* pseudo-class qui applique un effet au survol de la souris*/
    margin-top: 10vh;

}

.clear{
    clear:both; /*suupprime l'effet flottantes deux côté*/
}